h1 {
  color: blue;
  text-align: center;
  font-size: 15pt;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: black;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

p { 
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: justify;
}

ul {
  line-height: 10px;
}

ol {

  list-style-type: square;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.aboutme {
  background-color: lawngreen;
}
.projects {
  background-color: lightcoral;
}
.catclimate {
  background-color: yellow;
  font-weight: bold;
  font-style: italic;
}

.important {
  background-color: lawngreen;
}
.unimportant  {
  background-color: lightcoral;
}

img {
  float: left;
}

.sidebar{
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;

}

.column {
  width: 500px;
  float: right;
}



